.marcador{
  font-size: 4.8rem;
  color: black;
  text-align: center;
}

.texto{
  font-size: 1.8rem;
  color: black;
}

.centroColumna{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.izquierdo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-right: 24rem;
  border: 0px;
  border-right: 2px;
  border-color: black;
  border-style: solid;
}

.derecho{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-left: 24rem;
  border: 0px;
  border-left: 2px;
  border-color: black;
  border-style: solid;
}

.imagenes{
  background-color: transparent;
  border-color: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imagenes:hover {
  background-color: #aaaaaa48;
}

.resultados{
  font-size: 4.8rem;
  color: black;
  padding-top: 40vh;
  padding-bottom: 40vh;
  background-color: white;
}

.contenedorModal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.imagenesModal{
  width: 150%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}