.marcador{
  font-size: 4.8rem;
  color: black;
  text-align: center;
}

.texto{
  font-size: 1.8rem;
  color: black;
}

.centroColumna{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.izquierdo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-right: 24rem;
  border: 0px;
  border-right: 2px;
  border-color: black;
  border-style: solid;
  height: 90vh;
}

.derecho{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-left: 24rem;
  border: 0px;
  border-left: 2px;
  border-color: black;
  border-style: solid;
  height: 90vh;
}

.imagenes{
  background-color: transparent;
  border-color: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imagenes:hover {
  background-color: #aaaaaa48;
}

.resultados{
  font-size: 4.8rem;
  color: black;
  padding-top: 40vh;
  padding-bottom: 40vh;
  background-color: white;
}

.contenedorModal{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80vw;
  height: 90vh;
}

.imagenesModal{
  width: 150%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}


/* Media queries */

/* Estilos para tabletas y dispositivos con una resolución de pantalla más pequeña */
@media screen and (max-width: 1400px) {
  .derecho{
    padding-left: 4%;
  }

  .izquierdo{
    padding-right: 4%;
  }

  .contenedorModal{
    justify-content: space-evenly;
    width: 90vw;
    height: 90vh;
    background-color: white;
  }

  .imagenesModal{
    width: 100%;
  }

  .resultados{
    padding: 40vh;
    padding-left: 50vw;
    padding-right: 50vw;
  }

}

/* Estilos para dispositivos móviles y pantallas pequeñas */
@media screen and (max-width: 768px) {
  .titulo{
    font-size: 2.8rem;
  }

  .marcador{
    font-size: 3rem;
  }
  
  .texto{
    font-size: 1rem;
  }

  .izquierdo{
    height: 60vh;
  }

  .derecho{
    height: 60vh;
  }

  .resultados{
    padding-top: 40vh;
    padding-bottom: 40vh;
  }
}

/* Estilos para dispositivos móviles aún más pequeños, como smartphones en modo retrato */
@media screen and (max-width: 480px) {
  .resultados{
    padding-top: 34vh;
    padding-bottom: 34vh;
  }

  .contenedorModal{
    height: 80vh;
  }
}